<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CDN Bootstrap - CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="css/style.css" rel="stylesheet">

    <title>FormPlus</title>
</head>

<body>

    <div class="container" id="gestionOrder">

        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom fixed-top bg-white" id="header">
            <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                    class="bi bi-send-fill" viewBox="0 0 16 16">
                    <path
                        d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z" />
                </svg>
                <span style="margin-left: 10px;" class="fs-4">FormPlus</span>
            </a>

            <div>
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="nav-link" v-bind:class="{active: navIndex}" v-bind:style="navIndex ? actived : normal"
                            @click="showInfo(1)" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" v-bind:class="{active: navGestion}" v-bind:style="navGestion ? actived : normal"
                            @click="showInfo(2)" href="#">Gestionar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" v-bind:class="{active: navHistorial}"
                            v-bind:style="navHistorial ? actived : normal" @click="showInfo(3)" href="#">Completados</a>
                    </li>
                </ul>
            </div>
        </header>

        <!-- Container index -->
        <div v-show="navIndex">
            <div class="row flex-lg-row-reverse align-items-center">
                <div class="col-10 col-sm-8 col-lg-6" id="img_index">
                    <img src="img/form_index.svg" class="d-block mx-lg-auto img-fluid" id="src_img" alt="FormPlus"
                        width="570" height="370">
                </div>
                <div class="col-lg-6">
                    <div>
                        <p class="h1">¿Cómo funciona?</p>
                        <p class="lead">
                            Crea, organiza y gestiona tus propias ordenes de pedidos. Tendrás las opciones de gestionar
                            entre
                            entregado, esperando
                            y cancelado; organizar un historial de las gestiones y crear las ordenes con todos los
                            detalles
                            necesarios.
                        </p>
                    </div>
                    <div>
                        <p class="h1">¿Dónde funciona?</p>
                        <p class="lead">
                            En las microempresas o emprendimientos que requieren llevar el detalle a detalle de toda la
                            gestión de sus
                            ordenes de pedidos. Así, las
                            cuentas a fin de mes quedarán claras.
                        </p>
                    </div>
                    <div>
                        <p class="h1">Inicia sesión</p>
                        <p class="lead">
                            Antes de iniciar sesión, asegúrate que el proveedor haya completado tu registro y puedas
                            empezar
                            a disfrutar
                            de la mejor experiencia en tu negocio.
                        </p>
                        <button type="button" class="btn btn-outline-dark">Sign In</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Container gestion -->
        <div v-show="navGestion">
            <div class="table-responsive">

                <table class="table table-hover caption-top">
                    <caption>
                        <h1 class="text-dark">Sistema de Gestión</h1>
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col">N°</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Información del Cliente</th>
                            <th scope="col">Teléfono</th>
                            <th scope="col">Prioridad</th>
                            <th scope="col" colspan="2">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in order" :key="index">
                            <th scope="row">{{index+1}}</th>
                            <td>{{item.description}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.tel}}</td>
                            <td>{{item.priority}}</td>
                            <td>Pendiente</td>
                            <td>
                                <button type="button" @click="entregarOrden(index)" class="btn btn-success">Entregar</button>
                                <button type="button" @click="" class="btn btn-warning">Editar</button>
                                <button type="button" @click="cancelarOrden(index)"
                                    class="btn btn-danger">Cancelar</button>
                            </td>
                        </tr>
                        <tr>
                            <div class="alert alert-warning" role="alert" v-if="order.length == 0">
                               No hay registro de ordenes.
                            </div>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <button type="button" class="btn btn-primary" @click="seeInput">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                        class="bi bi-send-plus" viewBox="0 0 16 16">
                        <path
                            d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372l2.8-7Zm-2.54 1.183L5.93 9.363 1.591 6.602l11.833-4.733Z" />
                        <path
                            d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5Z" />
                    </svg>
                    Agregar orden
                </button>
            </div>
        </div>

        <!-- Container agregar orden -->
        <div v-show="!flag">
            <p class="lead">Agrega los detalles de la orden. Recuerda llenar los campos obligatorios para un registro
                exitoso.</p>

            <p class="h1">Orden #{{contador}}</p>

            <div class="row g-3">
                <div class="col-md-6">
                    <label class="form-label">Ingresa una breve descripción de la orden</label>
                    <input type="text" class="form-control" placeholder="Descripción" v-model="inputDesc">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Nombre del cliente</label>
                    <input type="text" class="form-control" placeholder="Nombres y apellidos" v-model="inputName">
                </div>
                <div class="col-6">
                    <label class="form-label">Prioridad</label>
                    <select class="form-select" v-model="inputPriority">
                        <option v-for="element in prioridad">{{element}}</option>
                    </select>
                </div>
                <div class="col-6">
                    <label class="form-label">Teléfono del cliente</label>
                    <input type="tel" class="form-control" placeholder="+57 Colombia" v-model="inputTel">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Tipo de pago</label>
                    <select class="form-select" v-model="inputTypePay">
                        <option v-for="type in tipoPago">{{type}}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="inputZip" class="form-label">Dirección</label>
                    <input type="text" class="form-control" placeholder="Kra, Calle, Av NN #NN - NN" v-model="inputDir">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Ciudad</label>
                    <select class="form-select" v-model="inputCity">
                        <option v-for="city in ciudades">{{city}}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Adicional</label>
                    <input type="text" class="form-control" placeholder="Apto, Residencia, Conjunto, Esquina, etc..."
                        v-model="inputRef">
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" disabled>
                        <label class="form-check-label">
                            Generar alerta
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-grid gap-2 d-md-block">
                        <button type="submit" class="btn btn-dark" @click="agregarOrden">Crear</button>
                        <button type="submit" class="btn btn-danger" @click="btnCancelRegistro">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Container historial -->
        <div v-show="navHistorial">
            <div class="table-responsive">
                <table class="table caption-top">
                    <caption>
                        <h1 class="text-dark">Ordenes Entregadas</h1>
                    </caption>
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">N°</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Información del Cliente</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(data, id) in ordenEntregada" :key="id">
                            <td scope="row">{{id+1}}</td>
                            <td>{{data.desc}}</td>
                            <td>{{data.infoClient}}</td>
                            <td>{{data.price}}</td>
                        </tr>
                        <tr>
                            <div class="alert alert-warning" role="alert" v-if="ordenEntregada.length == 0">
                               No se han entregado ordenes.
                            </div>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" id="footer">
            <div class="col-md-4 d-flex align-items-center">
                <a href="https://www.ods.gov.co/es/objetivos/industria-innovacion-e-infraestructura"
                    class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1" target="blank">
                    <img src="img/ods_nueve.svg" width="55" height="49">
                </a>
                <span class="text-muted">ODS 9. Industria, Innovación e Infraestructura</span>
            </div>
        </footer>
    </div>

    <!-- Option 1: CDN Bootstrap - JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/Gestion.js"></script>
</body>

</html>